TODO.txt
__pycache__/
argparse_test.py
tests/testfiles/data/knownURLs.txt
tests/testfiles/recipe_test.txt
tests/testfiles/recipe_test.md
tests/testfiles/markdown
tests/testfiles/data/recipes2txt.sqlite3
.project
.pydevproject
.idea
.mypy_cache
