## Copyright (C) 2024 Jan Philipp Berg <git.7ksst@aleeas.com>
##
## This file is part of recipe2txt.
##
## recipe2txt is free software: you can redistribute it and/or modify it under the
## terms of the GNU General Public License as published by the Free Software Foundation,
## either version 3 of the License, or (at your option) any later version.
##
## recipe2txt is distributed in the hope that it will be useful, but WITHOUT ANY
## WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
## PARTICULAR PURPOSE.
## See the GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License along with
## recipe2txt. If not, see <https://www.gnu.org/licenses/>.
{%- if recipes is defined and recipes|length > 3 -%}
Index
{% for recipe in recipes | rejectattr('status', 'lt', 3) %}
{% if recipe.title != NA -%} {{recipe.title}} {% else -%} {{recipe.url}} {%- endif -%}
{% endfor %}



----------




{% endif -%}

{%- for recipe in recipes | rejectattr('status', 'lt', 3) -%}

{% if recipe.title != NA -%} {{recipe.title}} {% else -%} {{recipe.url}} {%- endif %}

{{recipe.total_time}} min | {{recipe.yields}}

{{recipe.ingredients}}

{{recipe.instructions.replace("\n", "\n"*2)}}

{% if recipe.title != NA -%} from: {{recipe.url}} {%- endif %}




{% endfor -%}
